.booking {
    min-height: 100vh;
}

.booking-image {
    position: fixed;
    z-index: -1000;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.overlay {
    position: fixed;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background: rgb(37, 29, 88);
    background: linear-gradient(0deg, rgba(37, 29, 88, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
}

.booking .card {
    max-width: 70vw;
    min-height: 70vh;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.booking ul li {
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.07rem;
    word-spacing: 0.3rem;
}

.card-title {
    font-size: 2rem !important;
}

.booking .shadow {
    box-shadow: 0 5px 15px 10px rgba(255, 255, 255, 0.25) !important;
}

.go-back {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    color: white;
}