* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

.main-primary {
  background-color: #251D58 !important;
}

.text-main-primary {
  color: #251D58 !important;
}

.btn-main-primary {
  background-color: #251D58 !important;
  color: #fff !important;
}