* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

.main-primary {
  background-color: #251D58 !important;
}

.text-main-primary {
  color: #251D58 !important;
}

.btn-main-primary {
  background-color: #251D58 !important;
  color: #fff !important;
}

.secondary-bg {
  background-color: #F6F6F6;
}

.paragraph-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  letter-spacing: 0.0015em;

  color: #606268 !important;
}