.booking {
  min-height: 100vh;
}

.booking-image {
  position: fixed;
  z-index: -1000;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.overlay {
  position: fixed;
  z-index: -100;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background: #251d58;
  background: linear-gradient(
    0deg,
    rgba(37, 29, 88, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
}

.booking .card {
  max-width: 70vw;
  min-height: 70vh;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.booking ul li {
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.06rem;
  word-spacing: 0.25rem;
}

.card-title {
  font-size: 2rem !important;
}

.booking .shadow {
  box-shadow: 0 5px 15px 10px rgba(255, 255, 255, 0.212) !important;
}

.go-back {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 100;
  color: white;
  transition: 200ms !important;
}

.go-back .arrow-icon {
  font-weight: bold !important;
  font-size: 1.8rem;
  transition: 200ms !important;
}

.go-back:hover {
  background: white !important;
  color: #251d58 !important;
}
.go-back .arrow-icon:hover {
  font-size: 2rem;
}
